.navbarMain{
  font-style: oblique;
  font-size: xx-large;
}

.navbarIcon{
  font-size: xx-large;
    padding-right: 2rem;
    padding-left: 1rem;
}

.homeText{
  text-align: center;
  margin-top: 30%;
  font-size: 4rem;
  font-style: oblique;
  font-weight: bold;
}